body{
  background-color: skyblue;
}

h1{
  color: #66BFBF;
}

h3{
  color: #66BFBF;
}


hr {
  border-style: none;
  border-color: grey;
  border-width: 5px;
  border-top-style: dotted;
  width: 5%;

}
